
src/__pycache__/analyzer.cpython-37.pyc
*.pyc
dados/

corpus_tratado.zip
dados/corpus_tratado/metadados.csv
dados/corpus_tratado/single/corpus_tratado.txt
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/base_treino.txt
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/base_treino_glv.txt
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/doc2vec_jur.model
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/ftt_jur.model
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/ftt_jur.model.trainables.vectors_ngrams_lockf.npy
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/ftt_jur.model.wv.vectors_ngrams.npy
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/glove_vocab.txt
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/glv_concurrence.bin
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/glv_concurrence_shuf.bin
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/glv_jur.bin
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/glv_jur.txt
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/kmeans_doc2vec_jur.png
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/kmeans_vec_ftt_ger_soma.png
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/kmeans_vec_ftt_jur_soma.png
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/kmeans_vec_glv_ger_soma.png
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/kmeans_vec_glv_jur_soma.png
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/kmeans_vec_w2v_ger_soma.png
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/kmeans_vec_w2v_jur_soma.png
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/lista_scores_k.npy
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/sim_assuntos_doc2vec_jur.png
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/sim_assuntos_vec_ftt_ger_soma.png
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/sim_assuntos_vec_ftt_jur_soma.png
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/sim_assuntos_vec_glv_ger_soma.png
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/sim_assuntos_vec_glv_jur_soma.png
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/sim_assuntos_vec_w2v_ger_soma.png
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/sim_assuntos_vec_w2v_jur_soma.png
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/sim_docs_doc2vec_jur.npy
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/sim_docs_vec_ftt_ger_soma.npy
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/sim_docs_vec_ftt_jur_soma.npy
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/sim_docs_vec_glv_ger_soma.npy
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/sim_docs_vec_glv_jur_soma.npy
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/sim_docs_vec_w2v_ger_soma.npy
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/sim_docs_vec_w2v_jur_soma.npy
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/vetores_teste.csv
dados/experimento___minfreq_0__com_crit_tesauro__com_crit_ica__removeu_sw_pt__100_dims__seed-208/w2v_jur.model
tesauro_stf.csv
.ipynb_checkpoints/8. Fluxo de experimentação completo com grid-checkpoint.ipynb
8. Fluxo de experimentação completo com grid.ipynb
8. Fluxo de experimentação completo com grid.ipynb
